<form action="/products/new" method="post">
	<input type="text" name="name">
	<input type="number" name="price">
	<input type="text" name="currency">
	<input type="submit" name="" value="Create Product">
</form>