<% @post.comments.each do |comment| %>
  <div class="panel panel-default">        
    <div class="panel-body">
    <p><%= comment.content %></p>
    <% if user_signed_in? && current_user == @post.user %>
      <%= link_to "Borrar", post_comment_path(@post, comment), remote: true, method: 'DELETE', class: 'delete_comment_link' %>
    <% end %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $('.delete_comment_link').on('ajax:success', function (event) {
    $(this).parents('div.panel').fadeOut().remove()
  })
</script>