<h1>Mini Cart</h1>

<ul>
  <!-- <li>Product1</li>
  <li>Product2</li>
  <li>Product3</li>
  <li>Product4</li>
  <li>Product5</li> -->
  <% @products.each do |product| %>
    <li><%= product %></li>
  <% end %>
</ul>